.imagen{
    border-top: 5px double black;;
    border-left: 5px double black;;
    border-right: 5px double black;
    border-bottom: 5px double black;
    margin-top: 80px;
    margin-right: 40px;
    margin-bottom: 80px;
    margin-left: 500px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-right: 50px;
    width: 200px;
    height: 150px;
    background: rgba(27, 27, 27, 0.041);
}

.imagen:hover
{
    width: 250px;
    height: 250px;
}
.azul {
    color: rgb(163, 27, 226);
}
#cursiva{
    font-family: "Comic Sans MS", sans-serif; 
    text-align: center;
}

.precio{
    text-align: center;
    font-weight: bold;
    font-style: italic ;
    font-size: 150%;
    background-color: rgb(216, 201, 201);
    
}
